<%= form_with(model: task, local: true, html: { multipart: true }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Hidden field for the user (client) ID -->
  <%= form.hidden_field :client_id, value: current_user.id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<div class="field">
  <%= form.label :budget %>
  <%= form.hidden_field :budget %> <!-- Change this to a hidden_field -->
</div>

<!-- Add an input element for the number of pages -->
<div class="field">
  <%= label_tag :pages, 'Number of pages:' %>
  <%= number_field_tag :pages, 1, min: 1, onchange: 'calculatePrice()' %>
</div>

<!-- Add an input element for the price -->
<div class="field">
  <%= label_tag :price, 'Price:' %>
  <%= number_field_tag :price, nil, disabled: true %>
</div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :attachment, 'File Attachment' %>
    <%= form.file_field :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
