<h1><%= @task.title %></h1>

<p>
  Description: <%= @task.description %><br>
  Budget: <%= @task.budget %><br>
  Category: <%= @task.category %><br>
  Deadline: <%= @task.deadline %><br>
  Status: <%= @task.status %>
</p>

<% if current_user == @task.client %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
<% elsif current_user.freelancer? %>
  <% if @task.open? %>
    <%= form_with url: accept_task_path(@task), method: :post do %>
      <%= submit_tag 'Accept' %>
    <% end %>
  <% elsif @task.accepted? && @task.freelancer == current_user %>
    <%= form_with url: complete_task_path(@task), method: :post, html: { multipart: true } do |form| %>
      <%= form.file_field :completed_file %>
      <%= form.submit 'Submit' %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', tasks_path %>
