<h1><%= @task.title %></h1>

<p>
  Description: <%= @task.description %><br>
  Budget: <%= @task.budget %><br>
  Deadline: <%= @task.deadline %><br>
  Status: <%= @task.status %>
</p>

<% if current_user == @task.client %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
<% elsif current_user.freelancer? && @task.open? %>
  <%= link_to 'Accept', accept_task_path(@task), method: :put %> |
<% end %>

<%= link_to 'Back', tasks_path %>
