<%= form_with model: @payment, url: task_payments_path(@task), local: true, html: { multipart: true } do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id, 'Transaction ID' %>
    <%= form.text_field :transaction_id, required: true %>
  </div>

  <div class="field">
    <%= form.label :payment_proof, 'Upload Payment Proof' %>
    <%= form.file_field :payment_proof, direct_upload: true %>
  </div>

  <%= form.submit "Submit Payment", class: 'btn btn-primary' %>
<% end %>
