<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
  <% if current_user.admin? %>
    <%= link_to "Back", root_path %>
  <% elsif current_user.client? %>
    <%= link_to "Back", root_path %>
    <%= link_to "Edit this payment", edit_payment_path(@payment) %>
  <% end %>

  <% if current_user.admin? %>
    <!-- Display Accept and Reject buttons for admin -->
    <%= button_to "Accept", accept_payment_path(@payment), method: :patch, class: 'btn btn-success' %>
    <%= button_to "Reject", reject_payment_path(@payment), method: :patch, class: 'btn btn-danger' %>
  <% elsif current_user.client? %>
    <!-- Display Edit button for client -->
    <%= link_to "Edit this payment", edit_payment_path(@payment) %>
  <% end %>
</div>
